= nested_form_for @project, html: { multipart: true } do |f|

  - if @project.errors.any?
    %p Sorry, but: #{@project.errors.full_messages.join(', ')}

  .row
    .grid_6
      %header
        %h4 Details:

      .wrapper-block
        = f.label :title,       class: 'without-tip'
        = f.text_field :title

      .wrapper-block
        = f.label :url,         class: 'without-tip'
        = f.text_field :url

      .wrapper-block
        = f.label :description
        = f.text_area :description


    .grid_6
      %header
        %h4 Screenshots:

      = f.fields_for :screenshots do |screenshot_form|
        .screenshot

          .wrapper-block
            = screenshot_form.label :description
            = screenshot_form.text_area :description

          .wrapper-block
            - if screenshot_form.object.image.present?
              = image_tag screenshot_form.object.image.thumb.url, class: 'input-aligned', style: 'margin-bottom: 15px;'

            - else 
              = screenshot_form.label :image, class: 'without-tip'
              = screenshot_form.file_field :image

          .wrapper-block
            = screenshot_form.link_to_remove "Remove this screenshot", class: 'input-aligned'

      = f.link_to_add "Add screenshot", :screenshots

  .row
    .grid_12
      = f.submit 'Save',        class: 'btn-form'
