- if project.screenshots.any?

  - screenshot = project.screenshots.first
  = link_to screenshot.image.url, class: 'fancybox', title: screenshot.description, rel: gallery_name do
    = image_tag screenshot.image.thumb.url, class: 'img-left'

  - (project.screenshots - [screenshot]).each do |hidden_screenshot|
    = link_to "", hidden_screenshot.image.url, class: 'fancybox', title: hidden_screenshot.description, rel: gallery_name

%h5
  = link_to project.title, project, class: 'title'

  - if project.url?
    %small at #{link_to project.url, project.url, class: 'url'}

- if project.technologies.any?
  .technologies
    - project.technologies.each do |tech|
      %span.highlight= tech

%p.description= project.description
