%header.row.top
  .grid_12
    %h1
      = link_to "<", dashboard_path
      #{@project.title},
      - if @project.user == current_user
        = link_to 'edit', edit_project_path(@project)

    %hr/

.row
  .grid_6
    %h4= link_to @project.url, @project.url
    %p.intro= @project.description

  .grid_6

    %ul
      - @project.screenshots.each do |screenshot|
        %li[screenshot]
          = image_tag screenshot.image, class: 'img-left'
          %p= screenshot.description


