.project

  .row.top
    .grid_12
      %h2
        #{@project.title}
      - if @project.editable_by? current_user
        = link_to 'edit', edit_project_path(@project), class: 'edit'

  .row
    .grid_6

      %p.external_url
        url:
        = link_to @project.url, @project.url


      - if @project.technologies.any?
        .technologies
          technologies:

          %ul.inline
            - @project.technologies.each do |tech|
              %li.highlight= tech

      %p.description
        description:
        = @project.description


    .grid_6.collaborators
      collaborators:

      %ul.circle
        - @project.collaborators.each do |collaborator|
          %li= collaborator.email

  .row
    .grid12.screenshots
      %ul
        - @project.screenshots.each do |screenshot|
          %li[screenshot]
            = image_tag screenshot.image, class: 'img-left'
            %p= screenshot.description


