!!! 5
%html{:lang => 'en'}
  %head= render 'layouts/head'

  %body

    %header.alerts
      .grid_8.offset_2
        %p.notice= notice
        %p.alert= alert

    %header.row.top
      .grid_12
        %h1= current_user.present? ? "Hi #{current_user.name}!" : "Hi!"
        %h1 What are you working on?
        %hr/

    = yield

    %footer.row
      .grid_8
        %p a #{link_to 'Liability Magnet', 'http://liabilitymagnet.com'} production
        %p built using #{link_to 'Neo Incubate', 'http://www.neoincubate.com'}
